**~
**/#*
**/__init__.py
**/__pycache__/**
**/GPATH
**/GRTAGS
**/GTAGS
/apps/bin/docker-credential-pass
**/*.eld

# Compiled binaries (built locally via install.sh)
stow/apps/apps/bin/sort_pictures
stow/apps/apps/bin/sportmodel

# Emacs files
stow/emacs/.emacs.d/custom.el
stow/emacs/.emacs.d/places
stow/emacs/.emacs.d/smex-items
stow/emacs/.emacs.d/org-clock-save.el
