[submodule "config/ranger/plugins/ranger_devicons"]
	path = config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "config/awesome/external/elenapan-dotfilesIII/dotfiles"]
	path = config/awesome/external/elenapan-dotfilesIII/dotfiles
	url = https://github.com/elenapan/dotfiles
