**/.vscode/**
.cfg
email/**
yEd/**
dev/**
apps/**
Zotero/**
Downloads/**
Documents/**
Videos/**
Pictures/**
Foundation_Platform/**
minicom.log
.android/**
.cache/**
.cargo/**

!.config/
.config/*
!.config/emacs/

.config.old/**
.emacs.d.save/**
.doom.d/**
.java/**
.docker/**
.local/**
.fonts/**
.git-credentials
.gitconfig
.gnupg/**
.lesshst
.mozilla/**
..gitignore.swp
.bash_history
.password-store/**
.pki/**
.rustup/**
.ssh/**
.sudo_as_admin_successful
.thunderbird/**
.yEd/**
.zotero/**
.notes
.emacs.d/smex-items
.emacs.d/places
.em
/.minirc.dfl
/.authinfo.gpg
/.authinfo.gpg~
/.emacs.d/projects
/.shell.pre-oh-my-zsh
/.zcompdump*
**~

/.zsh_history
/.zshrc.pre-oh-my-zsh
/.luarocks/
